body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0; 
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;

}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: bold;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p{
    font-weight: bold;
    color: #40514E;
}

hr{
    border-style: dotted none none;
    border-color: #EAF6F6;
    border-width: 7px;
    opacity: 0.7;
    width: 5%;
}
.top-container {
     position: relative;
      background-color: #e3fdfd;
      padding-top: 100px;
      
    
}
.middle-container{
    margin: 0 0 40px 0;
}

.bottom-container{
    padding: 20px 0 20px 0;
    background-color: #66BFBF;
}

.top-paragraph{
    font-weight: normal;
}

.first-cloud{    
    position: absolute;
   right: 400px;
   top: 200px; 
    }
    .second-cloud {
        position: absolute;
        left: 400px;
        top: 350px;
        
        
    }
    .river-bed{
        height: auto;
        width: 100%
    }

    .profile{
        margin: 100px auto;
        width: 50%;
        line-height: 2;
    }

    .personal-profile{
        width: 25%;
    }

    .skill-row{
        margin: 100px auto;
        width: 50%;
        text-align: left;
        line-height: 2;
    }
    
    .skills-profile{
        width: 25%;
        float: left;
        margin: 0 30px 0 0;
    }

    .hobbies-profile{
        width: 25%;
        float: right;
        margin: 0 0 0 30px;
    }
    

    
.footer-link{
    color: #11999E;
}    

.contact-me{
    margin: 0 auto;
    line-height: 2;
    width: 50%;
    text-align: center;
}

.btn{
    background-color: #11999E;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    text-shadow: 0 0 20px #000000;
    box-shadow: 0 0 2px #000000 ;
}

.footer-link{
    padding: 20px 20px;
    text-decoration: none;
    color: #11999E;
    }

    .copyright{
        color: #EAF6F6;
    }

    @media (max-width: 1256px){
        .first-cloud {
          visibility: hidden;
          position: static;
        }

        .second-cloud{
            visibility: hidden;
            position: static;
        }
    }